<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Gestão de Medicamentos</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/layout.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@600&family=Poppins:wght@300;500;800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sarala:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">

        @await Html.PartialAsync("_SideBar")

        <main class="content">

            @await Html.PartialAsync("_NavBar")

            <div class="content-body">
                @RenderBody()
            </div>

        </main>

    </div>

    <script src="~/js/layout.js"></script>
</body>
</html>
