@* Views/Shared/_Navbar.cshtml *@

<div class="navbar-top" id="navbar-top">
    <span id="breadcrumb">
        <span class="breadcrumb-item">Início</span>
        <span class="breadcrumb-item">Página</span>
    </span>
</div>
