@* Views/Shared/_Navbar.cshtml *@

<div class="navbar-top" id="navbar-top">
    <span id="breadcrumb">
        <span class="breadcrumb-item" id="breadcrumbMain">Início</span>
        <span class="breadcrumb-item" id="breadcrumbSub" style="display:none;"></span>
    </span>
</div>
