
@{
    Layout = "_Layout";
}

<main>
@*  <aside class="sidebar">
        <nav>
            <ul class="sidebar-menu">

                <li class="menu-item has-dropdown">
                    <a href="#" class="dropdown-toggle">
                        <i class='bx bxs-factory'></i>
                        <span>Fabricantes</span>
                        <i class='bx bx-chevron-down dropdown-icon'></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/fabricantes/cadastrar"><i class='bx bx-plus-circle'></i> Cadastrar</a></li>
                        <li><a href="/fabricantes/visualizar"><i class='bx bx-show'></i> Visualizar</a></li>
                    </ul>
                </li>

                <li class="menu-item has-dropdown">
                    <a href="#" class="dropdown-toggle">
                        <i class='bx bx-hdd'></i>
                        <span>Equipamentos</span>
                        <i class='bx bx-chevron-down dropdown-icon'></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/equipamentos/cadastrar"><i class='bx bx-plus-circle'></i> Cadastrar</a></li>
                        <li><a href="/equipamentos/visualizar"><i class='bx bx-show'></i> Visualizar</a></li>
                    </ul>
                </li>

                <li class="menu-item has-dropdown">
                    <a href="#" class="dropdown-toggle">
                        <i class='bx bx-user'></i>
                        <span>Usuários</span>
                        <i class='bx bx-chevron-down dropdown-icon'></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/usuarios/cadastrar"><i class='bx bx-user-plus'></i> Cadastrar</a></li>
                        <li><a href="/usuarios/visualizar"><i class='bx bx-show'></i> Visualizar</a></li>
                    </ul>
                </li>

                <li class="menu-item has-dropdown">
                    <a href="#" class="dropdown-toggle">
                        <i class='bx bx-id-card'></i>
                        <span>Funcionários</span>
                        <i class='bx bx-chevron-down dropdown-icon'></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/funcionarios/cadastrar"><i class='bx bx-user-plus'></i> Cadastrar</a></li>
                        <li><a href="/funcionarios/visualizar"><i class='bx bx-show'></i> Visualizar</a></li>
                    </ul>
                </li>

                <li class="menu-item has-dropdown">
                    <a href="#" class="dropdown-toggle">
                        <i class='bx bx-message-detail'></i>
                        <span>Chamados</span>
                        <i class='bx bx-chevron-down dropdown-icon'></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/chamados/cadastrar"><i class='bx bx-message-add'></i> Cadastrar</a></li>
                        <li><a href="/chamados/visualizar"><i class='bx bx-show'></i> Visualizar</a></li>
                    </ul>
                </li>


                <li class="menu-item">
                    <a href="/">
                        <i class='bx bx-home'></i>
                        <span>Página Inicial</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside> *@

    <script src="~/js/layout.js"></script>
</main>
