
@{
    Layout = "_Layout";
}

<main>
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <div class="dashboard">
        <div class="header">
            <div class="titulo">
                <h1>Medicamento dados</h1>
            </div>
            <div class="buttons">
                <button class="btn-azul">Futuramente</button>
                <button class="btn-branco">Futuramente</button>
            </div>
        </div>
        <div class="grid-dashboard">
            <div class="dupla pequeno-dupla">
                <div class="card pequeno">Pequeno 1</div>
                <div class="card pequeno">Pequeno 2</div>
            </div>
            <div class="card grande1">Grande 1</div>
            <div class="card grande2">Grande 2</div>
            <div class="card estreito">Estreito</div>
        </div>

        <div class="grid-novos-cards">
            <div class="card novo1">Novo 1</div>
            <div class="card novo2">Novo 2</div>

            <div class="dupla novo-dupla">
                <div class="card novo3a">Novo 3a (em cima)</div>
                <div class="card novo3b">Novo 3b (embaixo)</div>
            </div>
            </div>
           <div class="grid-comprido">
                <div class="card novo-comprido">Novo comprido</div>
            </div>


    </div>


    <script src="~/js/layout.js"></script>
</main>
